#form{
    padding-top:10vh;
    padding-bottom:5vh;
}

#help{
    margin-top:5vh;
}

.progress-bar{
    color:black !important;
}

#raw{
    padding-top:15vh;
    padding-bottom:5vh;
}

#response{
    padding-top:5vh;
    padding-bottom:5vh
}

th {
    text-align:center !important
}